# Your grades and GPA at Illinois!

In this lab, you will explore the GPA dataset and find out about the easiest, hardest, and most popular courses at Illinois!

## Part 0 | Loading the Dataset

For the first part of our lab, we'll be using the GPA dataset we saw in class.

You can download the dataset by following to following link to the github storing the dataset: https://raw.githubusercontent.com/wadefagen/datasets/master/gpa/uiuc-gpa-dataset.csv

To download this file, you will want to **right click** and click **Save As**.

In [1]:
import pandas as pd
df = pd.read_csv("gpa.csv")

## Part 1 | Finding Total GPAs

Add two new columns, `Total Students` and `Average GPA`, that compute the total number of students in each course and the average weighted GPA for each course.

You should not include students with a `W` in either column and feel free to add other columns to help you out!

In [4]:
df["Total Students"] = df["A+"] + df["A"] + df["A-"] + df["B+"] + df["B"] + df["B-"] + df["C+"] + df["C"] + df["C-"] + df["D+"] + df["D"] + df["D-"] + df["F"]
df["Average GPA"] = (df["A+"]*4 + df["A"]*4 + df["A-"]*3.67 + df["B+"]*3.33 + df["B"]*3 + df["B-"]*2.67 + df["C+"]*2.33 + df["C"]*2 + df["C-"]*1.67 + df["D+"]*1.33 + df["D"]*1 + df["D-"]*0.67) / df["Total Students"]

In [5]:
## == TEST CASES for Puzzle 1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(df[
  (df["YearTerm"] == "2010-su") & \
  (df["Subject"] == "STAT") & \
  (df["Number"] == 410) \
]["Total Students"].sum() == 31), "It appears your \"Total Students\" column is incorrect."

assert(df[
  (df["YearTerm"] == "2018-fa") & \
  (df["Subject"] == "CS") & \
  (df["Number"] == 225) \
]["Total Students"].sum() == 697), "It appears your \"Total Students\" column is incorrect."

assert( abs(df[
  (df["YearTerm"] == "2018-fa") & \
  (df["Subject"] == "STAT") & \
  (df["Number"] == 100) \
]["Average GPA"].mean() - 3.247) < 0.01), "It appears your \"Average GPA\" column is incorrect."

## Part 2 | Finding the easiest and hardest courses

### Puzzle 2.1: Hardest Courses in the Dataset

Using functions you already know, find the **30 hardest courses** at Illinois based on their "Average GPA".

In [6]:
df_hardestCourses = df.nsmallest(30, "Average GPA")
df_hardestCourses

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,C,C-,D+,D,D-,F,W,Primary Instructor,Total Students,Average GPA
1725,2018,Fall,2018-fa,LER,120,Contemporary Labor Problems,0,0,1,2,...,1,2,1,1,0,15,0,"Taylor, Don",28,1.142857
14173,2016,Spring,2016-sp,LER,100,Introduction to Labor Studies,0,1,0,1,...,4,1,1,1,1,10,0,"Hawking, Carol J",24,1.319583
21986,2014,Fall,2014-fa,LER,120,Contemporary Labor Problems,0,4,0,1,...,4,1,0,1,0,15,1,"Hershfield, David",30,1.400000
24254,2014,Spring,2014-sp,LER,120,Contemporary Labor Problems,0,1,3,0,...,3,0,0,0,2,11,0,"Cohen, Margaret L",25,1.427600
27051,2013,Fall,2013-fa,MATH,2,Introductory Algebra,0,0,0,0,...,10,5,3,3,2,5,3,"Aydin-Mullen, Yelda",31,1.430645
24329,2014,Spring,2014-sp,MATH,220,Calculus,0,3,0,0,...,5,0,2,1,0,11,1,"Gilbert, Rebekah A",28,1.476071
11901,2016,Fall,2016-fa,LER,120,Contemporary Labor Problems,0,2,2,1,...,0,1,2,1,2,8,2,"Hershfield, David",22,1.515455
12169,2016,Fall,2016-fa,MCB,245,Human Anat & Physiol Lab I,0,0,0,0,...,3,4,1,2,0,6,1,"Swigart, James P",23,1.522174
22033,2014,Fall,2014-fa,LLS,296,Bilingual US Latina/o Culture,3,1,0,1,...,1,1,1,0,2,11,1,"Romero, Rolando J",27,1.568519
22197,2014,Fall,2014-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,0,...,1,3,5,1,1,5,0,"Swigart, James P",25,1.586800
9102,2017,Spring,2017-sp,LER,100,Introduction to Labor Studies,0,2,1,1,...,3,2,0,1,0,9,0,"Ashby, Steven",23,1.594783
3076,2018,Spring,2018-sp,CHEM,101,Introductory Chemistry,1,5,8,1,...,10,9,11,23,10,26,7,"Decoste, Donald J",132,1.598864
11897,2016,Fall,2016-fa,LER,100,Introduction to Labor Studies,0,2,1,2,...,3,2,0,1,1,10,0,"Stewart, Beverly L",27,1.605185
11900,2016,Fall,2016-fa,LER,110,Labor and Social Movements,0,4,2,0,...,2,1,0,1,4,8,0,"Ashby, Steven",25,1.614400
37521,2011,Spring,2011-sp,MATH,115,Preparation for Calculus,1,4,2,1,...,5,0,9,11,2,18,0,"Carty, Thomas E",71,1.619296
12160,2016,Fall,2016-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,1,...,1,3,3,4,1,4,2,"Swigart, James P",25,1.626800
37457,2011,Spring,2011-sp,LER,100,Introduction to Labor Studies,2,1,0,2,...,1,2,0,0,1,9,2,"Konopacki, Mike",22,1.636364
23849,2014,Spring,2014-sp,ENGL,274,Contemporary Classics,0,1,3,0,...,1,2,1,0,0,8,1,"Hutner, Gordon",21,1.651429
16964,2015,Fall,2015-fa,MATH,181,A Mathematical World,1,3,0,2,...,3,1,1,1,1,8,0,"Loeb, Sarah J",23,1.651739
1935,2018,Fall,2018-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,2,...,4,1,0,1,1,7,0,"Swigart, James P",23,1.652174
12165,2016,Fall,2016-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,2,...,3,1,1,1,3,6,0,"Swigart, James P",26,1.654231
35869,2011,Fall,2011-fa,TAM,251,Introductory Solid Mechanics,1,0,4,2,...,23,3,6,23,9,11,0,"Starzewski, Martin O",102,1.657157
41077,2011,Summer,2011-su,TAM,251,Introductory Solid Mechanics,1,0,4,2,...,23,3,6,23,9,11,0,"Starzewski, Martin O",102,1.657157
21782,2014,Fall,2014-fa,IE,300,Analysis of Data,4,1,3,1,...,13,10,9,8,2,14,4,"Tursun, Umit D",75,1.662400
29359,2013,Spring,2013-sp,MATH,115,Preparation for Calculus,0,3,5,3,...,9,6,6,3,6,26,4,"Lansing, Jennifer L",96,1.663438
34982,2011,Fall,2011-fa,LER,110,Labor and Social Movements,0,3,0,1,...,2,3,0,3,0,7,0,"Saute, Robert",24,1.680417
40190,2011,Summer,2011-su,LER,110,Labor and Social Movements,0,3,0,1,...,2,3,0,3,0,7,0,"Saute, Robert",24,1.680417
9107,2017,Spring,2017-sp,LER,110,Labor and Social Movements,0,3,2,0,...,3,0,0,1,0,12,2,"Schiavone, Michael",29,1.701724
14177,2016,Spring,2016-sp,LER,110,Labor and Social Movements,0,1,4,0,...,2,0,0,1,1,9,0,"Ashby, Steven",25,1.707200
12166,2016,Fall,2016-fa,MCB,245,Human Anat & Physiol Lab I,1,0,0,0,...,3,4,1,1,3,3,0,"Swigart, James P",24,1.708750

### Puzzle 2.2: Hardest Courses in 2018

Find the **30 hardest courses in 2018** at Illinois based on their "Average GPA".

In [8]:
df_2018 = df[df["Year"]==2018]
df_hardestCourses_2018 = df_2018.nsmallest(30, "Average GPA")
df_hardestCourses_2018

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,C,C-,D+,D,D-,F,W,Primary Instructor,Total Students,Average GPA
1725,2018,Fall,2018-fa,LER,120,Contemporary Labor Problems,0,0,1,2,...,1,2,1,1,0,15,0,"Taylor, Don",28,1.142857
3076,2018,Spring,2018-sp,CHEM,101,Introductory Chemistry,1,5,8,1,...,10,9,11,23,10,26,7,"Decoste, Donald J",132,1.598864
1935,2018,Fall,2018-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,2,...,4,1,0,1,1,7,0,"Swigart, James P",23,1.652174
4168,2018,Spring,2018-sp,MATH,446,Applied Complex Variables,2,2,1,5,...,2,0,3,4,6,9,1,"Wu, Jang-Mei G",44,1.802955
4871,2018,Summer,2018-su,CHEM,102,General Chemistry I,3,1,1,4,...,6,3,3,3,3,13,2,"Marville, Kelly",59,1.864407
4095,2018,Spring,2018-sp,MATH,112,Algebra,0,1,1,1,...,3,3,2,1,0,4,1,"Johnson, Rebecca L",21,1.889048
1723,2018,Fall,2018-fa,LER,100,Introduction to Labor Studies,0,3,3,1,...,1,3,1,0,0,9,2,"Franklin, Stephen",28,1.965000
633,2018,Fall,2018-fa,CHEM,104,General Chemistry II,10,9,9,14,...,16,23,25,17,11,20,4,"Marville, Kelly",201,2.036567
379,2018,Fall,2018-fa,ASTR,404,Stellar Astrophysics,0,3,0,3,...,4,5,3,4,0,4,0,"Mouschovias, Telemachos C",34,2.048824
1238,2018,Fall,2018-fa,FIN,300,Financial Markets,0,1,1,1,...,5,2,1,0,2,3,1,"Waspi, Kevin G",24,2.056250
4232,2018,Spring,2018-sp,MCB,250,Molecular Genetics,0,1,1,3,...,2,3,1,1,1,3,0,"Kirchner, Nicholas C",22,2.060455
1928,2018,Fall,2018-fa,MCB,245,Human Anat & Physiol Lab I,1,0,1,3,...,2,2,3,2,2,1,1,"Swigart, James P",26,2.101923
2173,2018,Fall,2018-fa,PSYC,100,Intro Psych,0,4,1,0,...,10,3,1,9,1,2,0,"Travis, Lisa L",46,2.109348
1724,2018,Fall,2018-fa,LER,110,Labor and Social Movements,0,3,4,0,...,6,0,1,3,1,5,0,"Saute, Robert",29,2.115517
1073,2018,Fall,2018-fa,ECON,302,Inter Microeconomic Theory,2,4,1,0,...,1,5,3,2,2,4,3,"Fang, Chiyuan",35,2.143429
1936,2018,Fall,2018-fa,MCB,245,Human Anat & Physiol Lab I,0,0,2,3,...,1,1,1,1,2,3,0,"Swigart, James P",27,2.184815
4870,2018,Summer,2018-su,CHEM,102,General Chemistry I,0,2,4,3,...,5,6,4,0,5,2,0,"Gunasekera, Mutha Merenna",41,2.195610
3565,2018,Spring,2018-sp,ECON,302,Inter Microeconomic Theory,1,3,3,3,...,5,2,1,2,0,6,0,"Huang, Yi",34,2.196176
1501,2018,Fall,2018-fa,IE,310,Determin Models in Optmzation,1,9,6,4,...,1,1,9,6,9,6,0,"Chandrasekaran, Karthekey",81,2.226420
649,2018,Fall,2018-fa,CHEM,232,Elementary Organic Chemistry I,1,2,1,0,...,6,0,0,6,0,1,0,"Kell, David A",25,2.226800
2761,2018,Spring,2018-sp,AE,321,Mechs of Aerospace Structures,1,8,4,5,...,3,2,1,2,3,9,0,"Lambros, John",45,2.237111
1720,2018,Fall,2018-fa,LER,100,Introduction to Labor Studies,0,8,3,0,...,0,0,0,0,1,9,0,"Stewart, Beverly L",26,2.244231
3564,2018,Spring,2018-sp,ECON,302,Inter Microeconomic Theory,3,4,0,1,...,5,3,4,2,0,3,1,"Huang, Yi",34,2.244412
2301,2018,Fall,2018-fa,RST,410,Strategic Thinking in RST,0,0,2,5,...,11,0,1,1,1,4,0,"Woolf, Julian R",42,2.245714
1814,2018,Fall,2018-fa,MATH,115,Preparation for Calculus,1,8,12,18,...,24,10,10,10,3,15,1,"Skabelund, Dane C",160,2.254000
3277,2018,Spring,2018-sp,CMN,310,The Rhetorical Tradition,0,1,5,3,...,10,5,1,4,0,3,0,"O'Gorman, Thomas E",47,2.255532
1587,2018,Fall,2018-fa,KIN,140,Social Sci of Human Movement,0,1,8,8,...,12,18,5,7,2,6,0,"Pindus, Dominika M",119,2.255714
3599,2018,Spring,2018-sp,ECON,480,Industrial Comp and Monopoly,0,4,3,1,...,3,2,1,2,5,0,0,"Toossi, Ali",26,2.257308
4096,2018,Spring,2018-sp,MATH,115,Preparation for Calculus,2,12,0,4,...,24,1,3,6,2,10,1,"Hoffmeister, April M",88,2.257500
3571,2018,Spring,2018-sp,ECON,302,Inter Microeconomic Theory,2,2,1,3,...,3,3,2,3,2,2,0,"Mocanu, Tatiana",34,2.265294

### Puzzle 2.3: Easiest Courses in 2018

Find the **30 easiest courses in 2018** at Illinois based on their "Average GPA".

In [9]:
df_easiestCourses_2018 = df_2018.nlargest(30, "Average GPA")
df_easiestCourses_2018

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,C,C-,D+,D,D-,F,W,Primary Instructor,Total Students,Average GPA
3688,2018,Spring,2018-sp,EPSY,490,Prep for Recruitment Counselor,43,37,0,0,...,0,0,0,0,0,0,0,"Brown, Dawn M",81,3.987654
1124,2018,Fall,2018-fa,EDUC,101,Education Orientation Seminar,0,67,0,0,...,0,0,0,0,0,0,1,"Jo, Katherine K",68,3.985294
129,2018,Fall,2018-fa,ACCY,518,Financial Statement Fraud,32,8,0,1,...,0,0,0,0,0,0,0,"Nekrasz, Frank",41,3.983659
2044,2018,Fall,2018-fa,MUS,269,Wind Orchestra,0,54,1,1,...,0,0,0,0,0,0,1,"Peterson, Elizabeth B",56,3.982143
2934,2018,Spring,2018-sp,BADM,420,Advanced Marketing Management,0,54,0,0,...,0,0,0,0,0,0,0,"Wolters, Mark E",55,3.981818
1486,2018,Fall,2018-fa,IB,199,Undergraduate Open Seminar,0,146,0,0,...,0,0,0,0,0,0,0,"Arias, Lily",149,3.979866
2436,2018,Fall,2018-fa,SPED,405,Gen Educator's Role in SPED,0,48,0,0,...,0,0,0,0,0,0,0,"Bentz, Johnell L",49,3.979592
4914,2018,Summer,2018-su,EPSY,408,Learning & Hum Dev w/ EdTech,65,2,2,0,...,0,0,0,0,0,0,1,"Cope, William",70,3.976286
2792,2018,Spring,2018-sp,ANSC,103,Working With Farm Animals,0,66,0,1,...,0,0,0,0,0,0,0,"Parsons, Carl M",68,3.975441
2998,2018,Spring,2018-sp,BIOE,436,Senior Design II,24,38,3,1,...,0,0,0,0,0,0,0,"Amos, Jennifer",66,3.974848
1662,2018,Fall,2018-fa,LAS,101,Freshman Seminar,21,4,0,1,...,0,0,0,0,0,0,0,"Soranso, Murillo S",26,3.974231
860,2018,Fall,2018-fa,CS,498,Digital Forensics,0,37,0,0,...,0,0,0,0,0,0,0,"Campbell, R H",38,3.973684
707,2018,Fall,2018-fa,CI,406,Thry Prac in Elem Schl Tch I,14,10,0,1,...,0,0,0,0,0,0,0,"Hathaway, Charlotte R",25,3.973200
3422,2018,Spring,2018-sp,ECE,206,Elec & Electronic Circuits Lab,3,21,0,1,...,0,0,0,0,0,0,0,"Radhakrishnan, Chandrasek",25,3.973200
3771,2018,Spring,2018-sp,FSHN,419,Food Ingredient Technology,0,24,0,1,...,0,0,0,0,0,0,0,"Bohn, Dawn M",25,3.973200
1140,2018,Fall,2018-fa,ENG,198,IEFX Projects 1,0,47,1,0,...,0,0,0,0,0,0,0,"Bradley, Joe A",49,3.972857
3202,2018,Spring,2018-sp,CHLH,380,Orientation to Internship,0,103,4,1,...,0,0,0,0,0,0,0,"Farner, Susan M",109,3.972569
3390,2018,Spring,2018-sp,CS,546,Machine Learning in NLP,0,80,2,1,...,0,0,0,0,0,0,1,"Hockenmaier, Julia C",84,3.972262
4992,2018,Summer,2018-su,SOCW,531,Field Practicum and Seminar I,0,23,0,1,...,0,0,0,0,0,0,0,"Maurer, Mary F",24,3.972083
4665,2018,Spring,2018-sp,SOCW,402,Practice II,18,4,0,1,...,0,0,0,0,0,0,0,"White-Gibson, Nancy L",23,3.970870
2340,2018,Fall,2018-fa,SHS,270,Comm Disability in the Media,0,98,0,0,...,1,0,0,0,0,0,0,"Angulo Jimenez, Henry Gio",100,3.970000
3940,2018,Spring,2018-sp,IS,404,Lit and Resources Young Adults,0,21,0,1,...,0,0,0,0,0,0,0,"Mitts Smith, Debra A",22,3.969545
2894,2018,Spring,2018-sp,BADM,320,Principles of Marketing,0,131,6,2,...,0,0,0,0,0,0,0,"Shabbir, Muhammad S",140,3.969143
4511,2018,Spring,2018-sp,PSYC,396,The Attentive Mind,28,2,1,1,...,0,0,0,0,0,0,0,"Lleras Buetti, Simona",32,3.968750
4913,2018,Summer,2018-su,EPSY,407,Adult Learning and Development,12,50,0,0,...,0,0,0,0,0,0,0,"Zola, David",64,3.968750
4759,2018,Spring,2018-sp,TE,460,Lect in Engrg Entrepreneurship,22,18,1,0,...,0,0,0,0,0,0,0,"Harbourt, Christopher M",42,3.968333
393,2018,Fall,2018-fa,BADM,261,Technology & Mgmt Seminar,0,62,0,0,...,1,0,0,0,0,0,0,"Quarton, John E",63,3.968254
1498,2018,Fall,2018-fa,IB,534,Evolution and Medicine,16,4,0,1,...,0,0,0,0,0,0,0,"Manaster, Joanne L",21,3.968095
2955,2018,Spring,2018-sp,BADM,520,Marketing Management,8,40,3,1,...,0,0,0,0,0,0,0,"Noel, Hayden N",52,3.968077
3643,2018,Spring,2018-sp,ENG,398,ELA Leadership Training,0,29,1,1,...,0,0,0,0,0,0,0,"Forman, Gretchen M",31,3.967742

In [10]:
## == TEST CASES for Puzzle 2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error or output, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, RE-RUN your code, and then RE-RUN this cell.

assert( len(df_hardestCourses) == 30 ), "You should only have the 30 hardest courses."
assert( abs(df_hardestCourses["Average GPA"].mean() - 1.58) < 0.01 ), "Are you sure you have the 30 hardest courses?"

assert( len(df_hardestCourses_2018) == 30 ), "You should only have the 30 hardest courses in 2018."
assert( abs(df_hardestCourses_2018["Average GPA"].mean() - 2.07) < 0.01 ), "Are you sure you have the 30 hardest courses of 2018?"

assert( len(df_easiestCourses_2018) == 30 ), "You should only have the 30 easiest courses in 2018."
assert( abs(df_easiestCourses_2018["Average GPA"].mean() - 3.97) < 0.01 ), "Are you sure you have the 30 easiest courses of 2018?"

## Puzzle 3: Finding Data on  Every Subject

### Puzzle 3.1: Total Grades Given in Each Subject

Using `groupby` and `agg`, find the total number of each grade (eg: "A+"s, "A"s, "A-"s, etc.) for every subject in the DataFrame `df_grouped_subject`.

In [22]:



df_grouped = df.groupby("Subject")
df_grouped_subject = df_grouped.agg("sum").reset_index()
df_grouped_subject

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Total Students,Average GPA
0,AAS,298016,19199,571,1726,714,460,422,198,116,101,40,23,27,17,51,22,4466,520.982778
1,ABE,229611,38135,254,2200,721,632,827,210,116,160,41,14,37,5,41,13,5258,396.243551
2,ACCY,3798626,689840,5437,18283,12947,12596,11368,4783,2267,1728,858,190,571,120,425,211,71573,6370.238913
3,ACE,1492356,200528,2207,10864,4329,3698,5811,2264,1403,1940,654,318,548,165,469,82,34670,2431.993489
4,ACES,245691,14066,569,1708,215,85,235,56,58,70,18,8,25,4,52,5,3103,449.083054
5,ADV,698959,132912,1991,8075,3814,2826,4608,1260,806,1120,223,107,181,42,213,59,25266,1198.380980
6,AE,570044,96822,1470,4726,2581,1803,2309,991,632,881,300,127,280,85,347,54,16532,942.454888
7,AFRO,193325,19081,305,995,494,288,341,186,106,107,66,27,33,18,58,18,3024,320.485077
8,AFST,20136,2172,58,160,93,42,28,13,4,10,6,2,1,5,4,1,426,35.101608
9,AGCM,52378,6805,40,309,103,67,74,19,5,21,6,4,10,3,15,0,676,90.731021
10,AGED,249725,40727,931,2332,957,569,467,212,132,121,55,40,21,18,51,20,5906,448.040746
11,AHS,54360,7096,142,708,37,21,52,4,0,14,2,0,10,0,15,0,1005,102.790092
12,AIS,116761,7049,168,653,261,174,258,67,30,44,16,2,11,2,38,8,1724,200.358114
13,ANSC,966777,139858,3345,14417,1516,1913,5120,825,765,1861,347,241,539,132,351,71,31372,1683.045553
14,ANTH,1057057,94121,5095,12983,5483,3477,5204,2124,1175,1782,704,258,583,132,819,180,39819,1771.969388
15,ARAB,50334,5531,287,269,92,68,66,29,18,33,6,8,7,5,39,5,927,87.878370
16,ARCH,678558,124154,1943,5247,3963,3487,3795,1645,918,979,336,144,206,71,338,92,23072,1113.311145
17,ART,193395,16288,287,1503,640,323,217,105,44,56,15,5,13,12,47,13,3267,350.326042
18,ARTD,326269,49617,386,1428,1061,896,703,315,132,131,46,17,23,18,68,25,5224,553.213961
19,ARTE,8063,1079,9,58,10,5,4,3,0,1,0,0,0,0,0,0,90,15.232428
20,ARTF,42275,2133,114,552,214,130,123,47,37,57,18,8,25,18,53,3,1396,70.947809
21,ARTH,239605,28487,163,729,775,590,687,401,169,148,82,38,40,21,49,14,3892,384.017754
22,ARTS,38227,6695,23,176,101,65,44,28,8,10,5,2,3,0,3,0,468,66.982979
23,ASRM,18162,3073,42,116,77,55,53,19,25,19,8,4,12,4,7,2,441,29.991269
24,ASTR,324309,32016,1684,5466,2594,2034,3117,1195,930,1245,495,277,363,135,621,127,20156,505.933952
25,ATMS,358442,39968,8899,6905,2493,2147,2984,939,601,593,246,154,163,87,343,71,26554,602.053853
26,AVI,32177,5017,30,84,72,58,66,23,16,18,4,3,4,0,3,1,381,52.807285
27,BADM,3478560,755852,12670,38741,20979,13229,10529,4090,2070,1862,818,339,464,207,462,178,106460,6198.359202
28,BCS,8062,460,73,71,9,4,12,5,2,6,4,0,1,0,0,1,187,14.896938
29,BIOC,56407,12672,72,234,154,155,152,78,51,22,13,6,5,3,5,2,950,93.892597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,RHET,780287,48352,360,2979,1986,1222,925,343,151,114,87,30,35,16,190,26,8438,1343.172342
132,RLST,917950,58878,916,3936,2172,1735,2302,989,538,637,217,113,168,52,236,48,14011,1479.839803
133,RSOC,6034,330,0,83,0,0,27,0,0,10,0,0,0,0,2,0,122,10.600902
134,RST,1019142,135068,3438,12329,3999,2922,6114,1784,1084,1853,484,245,519,125,786,133,35682,1684.545153
135,RUSS,16127,1542,9,68,26,23,31,9,7,5,0,3,0,0,16,3,197,25.197121
136,SAME,6039,437,2,29,30,20,31,12,14,17,5,2,2,3,5,1,172,8.849293
137,SBC,18161,4542,124,99,41,19,9,6,2,2,0,1,1,0,0,0,304,34.289368
138,SCAN,100697,12780,83,472,272,194,243,114,65,68,12,13,18,7,36,7,1597,166.658178
139,SCR,4027,230,28,40,11,5,8,3,3,1,0,0,0,1,0,0,100,7.413397
140,SE,64566,11159,223,476,275,216,261,91,52,85,18,5,27,1,24,2,1754,107.652411
141,SHS,1212440,165877,2355,16249,3193,2160,7016,1397,832,1876,404,176,513,100,535,82,36806,2078.829241
142,SLAV,16097,945,2,111,27,46,46,4,0,1,0,0,1,0,0,2,238,28.854722
143,SLCL,6053,600,21,46,18,7,10,0,2,0,1,1,1,0,1,0,108,11.239355
144,SOC,1176069,114613,1677,7128,3764,2273,2578,1318,723,867,367,133,304,99,432,111,21663,1941.983122
145,SOCW,1124044,241488,1750,7133,2751,1694,1730,599,282,272,111,45,66,12,131,51,16576,2030.366517
146,SPAN,615664,63435,862,1720,1299,938,912,475,365,329,153,118,98,80,161,22,7510,982.338295
147,SPED,392602,67425,1062,9342,496,324,1560,108,39,338,14,5,85,0,122,21,13495,731.153475
148,STAT,1210775,204459,7854,19509,8856,6531,6963,3603,2207,2605,1331,657,909,404,1140,315,62569,2031.457821
149,SWAH,10058,1412,24,21,15,17,8,10,5,2,2,2,3,2,3,2,114,16.262503
150,TAM,521580,83139,1611,3910,3026,3022,3722,2472,1982,2056,1315,797,996,460,1093,148,26462,766.988665
151,TE,80670,15049,302,663,170,85,61,9,9,18,6,0,1,0,8,5,1332,150.993088
152,THEA,848365,56995,8353,6084,2457,1291,1149,760,385,364,251,127,136,89,373,87,21819,1515.411270
153,TRST,12082,2250,20,60,20,8,15,3,1,6,1,0,4,0,2,0,140,21.163160
154,TSM,304136,47830,314,1628,674,610,1353,402,206,522,134,31,140,56,137,42,6207,473.201745
155,UKR,8048,452,5,190,43,20,8,4,0,1,0,0,0,0,0,0,271,15.181337
156,UP,503510,91644,935,3054,1810,1083,1215,431,217,257,104,32,62,37,118,37,9355,872.384751
157,VB,8040,2489,0,212,6,6,120,1,0,40,0,0,2,0,0,0,387,13.974534
158,VCM,74447,24157,302,1321,29,49,1036,20,18,337,1,1,41,0,1,0,3156,128.099232
159,VM,161151,48575,0,1503,8,0,5029,1,0,2916,0,0,274,0,8,8,9739,226.664769
160,YDSH,24157,3340,38,76,79,30,40,11,6,4,2,0,1,2,5,3,294,41.746684

In [23]:
## == TEST CASES for Puzzle 3.1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, RE-RUN your code, and then RE-RUN this cell.

assert( len(df_grouped_subject) == 161 ), "Are you sure you grouped by subjects?"
assert( df_grouped_subject[ df_grouped_subject["Subject"] == "CS" ]["A"].sum() == 35107 ), "Are you sure you counted the right number of each subject?"

### Puzzle 3.2: Overall Average GPA

In `df_grouped_subject`, add a new column called `"Overall Average GPA"` that computes the total overall GPA of each subject at Illinois.

In [24]:
df_grouped_subject["Overall Average GPA"] = (df_grouped_subject["A+"]*4 + df_grouped_subject["A"]*4 + df_grouped_subject["A-"]*3.67 + df_grouped_subject["B+"]*3.33 + df_grouped_subject["B"]*3 + df_grouped_subject["B-"]*2.67 + df_grouped_subject["C+"]*2.33 + df_grouped_subject["C"]*2 + df_grouped_subject["C-"]*1.67 + df_grouped_subject["D+"]*1.33 + df_grouped_subject["D"]*1 + df_grouped_subject["D-"]*0.67) / df_grouped_subject["Total Students"]
df_grouped_subject

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Total Students,Average GPA,Overall Average GPA
0,AAS,298016,19199,571,1726,714,460,422,198,116,101,40,23,27,17,51,22,4466,520.982778,3.525056
1,ABE,229611,38135,254,2200,721,632,827,210,116,160,41,14,37,5,41,13,5258,396.243551,3.485365
2,ACCY,3798626,689840,5437,18283,12947,12596,11368,4783,2267,1728,858,190,571,120,425,211,71573,6370.238913,3.385213
3,ACE,1492356,200528,2207,10864,4329,3698,5811,2264,1403,1940,654,318,548,165,469,82,34670,2431.993489,3.267560
4,ACES,245691,14066,569,1708,215,85,235,56,58,70,18,8,25,4,52,5,3103,449.083054,3.666819
5,ADV,698959,132912,1991,8075,3814,2826,4608,1260,806,1120,223,107,181,42,213,59,25266,1198.380980,3.391989
6,AE,570044,96822,1470,4726,2581,1803,2309,991,632,881,300,127,280,85,347,54,16532,942.454888,3.270908
7,AFRO,193325,19081,305,995,494,288,341,186,106,107,66,27,33,18,58,18,3024,320.485077,3.354435
8,AFST,20136,2172,58,160,93,42,28,13,4,10,6,2,1,5,4,1,426,35.101608,3.563920
9,AGCM,52378,6805,40,309,103,67,74,19,5,21,6,4,10,3,15,0,676,90.731021,3.477589
10,AGED,249725,40727,931,2332,957,569,467,212,132,121,55,40,21,18,51,20,5906,448.040746,3.581725
11,AHS,54360,7096,142,708,37,21,52,4,0,14,2,0,10,0,15,0,1005,102.790092,3.794766
12,AIS,116761,7049,168,653,261,174,258,67,30,44,16,2,11,2,38,8,1724,200.358114,3.465081
13,ANSC,966777,139858,3345,14417,1516,1913,5120,825,765,1861,347,241,539,132,351,71,31372,1683.045553,3.429066
14,ANTH,1057057,94121,5095,12983,5483,3477,5204,2124,1175,1782,704,258,583,132,819,180,39819,1771.969388,3.359906
15,ARAB,50334,5531,287,269,92,68,66,29,18,33,6,8,7,5,39,5,927,87.878370,3.454649
16,ARCH,678558,124154,1943,5247,3963,3487,3795,1645,918,979,336,144,206,71,338,92,23072,1113.311145,3.285204
17,ART,193395,16288,287,1503,640,323,217,105,44,56,15,5,13,12,47,13,3267,350.326042,3.606673
18,ARTD,326269,49617,386,1428,1061,896,703,315,132,131,46,17,23,18,68,25,5224,553.213961,3.404987
19,ARTE,8063,1079,9,58,10,5,4,3,0,1,0,0,0,0,0,0,90,15.232428,3.815111
20,ARTF,42275,2133,114,552,214,130,123,47,37,57,18,8,25,18,53,3,1396,70.947809,3.334341
21,ARTH,239605,28487,163,729,775,590,687,401,169,148,82,38,40,21,49,14,3892,384.017754,3.196285
22,ARTS,38227,6695,23,176,101,65,44,28,8,10,5,2,3,0,3,0,468,66.982979,3.509679
23,ASRM,18162,3073,42,116,77,55,53,19,25,19,8,4,12,4,7,2,441,29.991269,3.258685
24,ASTR,324309,32016,1684,5466,2594,2034,3117,1195,930,1245,495,277,363,135,621,127,20156,505.933952,3.162347
25,ATMS,358442,39968,8899,6905,2493,2147,2984,939,601,593,246,154,163,87,343,71,26554,602.053853,3.554915
26,AVI,32177,5017,30,84,72,58,66,23,16,18,4,3,4,0,3,1,381,52.807285,3.309029
27,BADM,3478560,755852,12670,38741,20979,13229,10529,4090,2070,1862,818,339,464,207,462,178,106460,6198.359202,3.570952
28,BCS,8062,460,73,71,9,4,12,5,2,6,4,0,1,0,0,1,187,14.896938,3.722139
29,BIOC,56407,12672,72,234,154,155,152,78,51,22,13,6,5,3,5,2,950,93.892597,3.335916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,RHET,780287,48352,360,2979,1986,1222,925,343,151,114,87,30,35,16,190,26,8438,1343.172342,3.462364
132,RLST,917950,58878,916,3936,2172,1735,2302,989,538,637,217,113,168,52,236,48,14011,1479.839803,3.279315
133,RSOC,6034,330,0,83,0,0,27,0,0,10,0,0,0,0,2,0,122,10.600902,3.549180
134,RST,1019142,135068,3438,12329,3999,2922,6114,1784,1084,1853,484,245,519,125,786,133,35682,1684.545153,3.322361
135,RUSS,16127,1542,9,68,26,23,31,9,7,5,0,3,0,0,16,3,197,25.197121,3.184467
136,SAME,6039,437,2,29,30,20,31,12,14,17,5,2,2,3,5,1,172,8.849293,2.949884
137,SBC,18161,4542,124,99,41,19,9,6,2,2,0,1,1,0,0,0,304,34.289368,3.814967
138,SCAN,100697,12780,83,472,272,194,243,114,65,68,12,13,18,7,36,7,1597,166.658178,3.284352
139,SCR,4027,230,28,40,11,5,8,3,3,1,0,0,0,1,0,0,100,7.413397,3.706900
140,SE,64566,11159,223,476,275,216,261,91,52,85,18,5,27,1,24,2,1754,107.652411,3.367184
141,SHS,1212440,165877,2355,16249,3193,2160,7016,1397,832,1876,404,176,513,100,535,82,36806,2078.829241,3.403913
142,SLAV,16097,945,2,111,27,46,46,4,0,1,0,0,1,0,0,2,238,28.854722,3.596429
143,SLCL,6053,600,21,46,18,7,10,0,2,0,1,1,1,0,1,0,108,11.239355,3.666944
144,SOC,1176069,114613,1677,7128,3764,2273,2578,1318,723,867,367,133,304,99,432,111,21663,1941.983122,3.343707
145,SOCW,1124044,241488,1750,7133,2751,1694,1730,599,282,272,111,45,66,12,131,51,16576,2030.366517,3.594283
146,SPAN,615664,63435,862,1720,1299,938,912,475,365,329,153,118,98,80,161,22,7510,982.338295,3.235103
147,SPED,392602,67425,1062,9342,496,324,1560,108,39,338,14,5,85,0,122,21,13495,731.153475,3.732160
148,STAT,1210775,204459,7854,19509,8856,6531,6963,3603,2207,2605,1331,657,909,404,1140,315,62569,2031.457821,3.337744
149,SWAH,10058,1412,24,21,15,17,8,10,5,2,2,2,3,2,3,2,114,16.262503,3.231140
150,TAM,521580,83139,1611,3910,3026,3022,3722,2472,1982,2056,1315,797,996,460,1093,148,26462,766.988665,2.808149
151,TE,80670,15049,302,663,170,85,61,9,9,18,6,0,1,0,8,5,1332,150.993088,3.785263
152,THEA,848365,56995,8353,6084,2457,1291,1149,760,385,364,251,127,136,89,373,87,21819,1515.411270,3.618368
153,TRST,12082,2250,20,60,20,8,15,3,1,6,1,0,4,0,2,0,140,21.163160,3.521786
154,TSM,304136,47830,314,1628,674,610,1353,402,206,522,134,31,140,56,137,42,6207,473.201745,3.120949
155,UKR,8048,452,5,190,43,20,8,4,0,1,0,0,0,0,0,0,271,15.181337,3.841661
156,UP,503510,91644,935,3054,1810,1083,1215,431,217,257,104,32,62,37,118,37,9355,872.384751,3.455211
157,VB,8040,2489,0,212,6,6,120,1,0,40,0,0,2,0,0,0,387,13.974534,3.448760
158,VCM,74447,24157,302,1321,29,49,1036,20,18,337,1,1,41,0,1,0,3156,128.099232,3.384962
159,VM,161151,48575,0,1503,8,0,5029,1,0,2916,0,0,274,0,8,8,9739,226.664769,2.796697
160,YDSH,24157,3340,38,76,79,30,40,11,6,4,2,0,1,2,5,3,294,41.746684,3.479116

In [25]:
## == TEST CASES for Puzzle 3.2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error or output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, RE-RUN your code, and then RE-RUN this cell.

assert( abs(df_grouped_subject[ df_grouped_subject["Subject"] == "CS" ]["Overall Average GPA"].sum() - 3.236) < 0.01 ), "Your overall average GPA does not appear correct."

### Puzzle 3.3: Find the 15 easiest subjects at Illinois

Finally, find the 15 easiest subjects at Illinois based on their "Overall Average GPA"

In [28]:
df_easiest_subjects = df_grouped_subject.nlargest(30, "Overall Average GPA")
df_easiest_subjects

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Total Students,Average GPA,Overall Average GPA
34,CB,4022,1250,0,140,0,0,17,0,0,1,0,0,0,0,0,2,158,7.767925,3.879747
40,CHP,12102,1194,42,94,15,8,5,0,0,3,0,0,0,0,1,0,168,23.124832,3.849345
155,UKR,8048,452,5,190,43,20,8,4,0,1,0,0,0,0,0,0,271,15.181337,3.841661
128,REES,6047,603,32,34,7,2,5,2,0,0,0,0,1,0,0,0,83,11.434037,3.827590
53,EDUC,106864,8974,307,1688,220,102,92,23,16,28,4,2,11,2,8,4,2503,199.988373,3.827179
33,BUS,493460,26919,493,4525,924,413,230,82,31,34,9,4,9,2,23,10,6779,936.301713,3.823312
19,ARTE,8063,1079,9,58,10,5,4,3,0,1,0,0,0,0,0,0,90,15.232428,3.815111
137,SBC,18161,4542,124,99,41,19,9,6,2,2,0,1,1,0,0,0,304,34.289368,3.814967
59,EOL,82576,21905,62,866,188,101,69,8,2,6,0,0,4,0,6,3,1312,155.348510,3.801303
126,PSM,16126,4013,121,37,13,4,10,4,2,3,2,0,0,0,1,0,197,30.340307,3.795482
11,AHS,54360,7096,142,708,37,21,52,4,0,14,2,0,10,0,15,0,1005,102.790092,3.794766
89,IS,829740,214129,1211,6353,1969,774,535,159,40,49,13,2,17,1,31,14,11154,1564.480532,3.794372
41,CI,936346,202539,1381,7521,2000,912,630,173,76,81,27,7,11,0,35,19,12854,1760.424735,3.791921
60,EPOL,6053,1650,1,94,9,2,2,1,0,1,1,0,0,0,3,0,114,11.462912,3.789737
151,TE,80670,15049,302,663,170,85,61,9,9,18,6,0,1,0,8,5,1332,150.993088,3.785263
95,KOR,30208,3043,130,104,42,23,21,6,4,1,1,0,0,0,1,1,333,56.670767,3.780000
93,JS,2018,355,4,7,7,2,1,0,0,0,0,0,0,0,0,1,21,3.778571,3.778571
83,HRD,38306,8838,61,291,72,43,27,11,3,2,0,0,2,0,2,1,514,71.574511,3.771965
54,EIL,68497,15106,123,436,139,65,55,10,10,6,5,0,2,0,6,5,857,126.682236,3.733874
147,SPED,392602,67425,1062,9342,496,324,1560,108,39,338,14,5,85,0,122,21,13495,731.153475,3.732160
61,EPS,310055,51965,600,2644,990,355,213,95,38,31,20,6,14,5,55,23,5066,572.690302,3.729445
123,POL,16109,920,25,114,112,37,17,2,0,0,0,0,0,0,1,2,308,29.753870,3.722695
28,BCS,8062,460,73,71,9,4,12,5,2,6,4,0,1,0,0,1,187,14.896938,3.722139
31,BIOP,6032,1203,13,45,6,5,3,2,0,3,0,0,2,0,0,0,79,11.126359,3.708987
55,ENG,483264,75244,1807,4731,1217,584,662,169,94,141,37,13,39,16,98,35,9608,888.527990,3.708385
139,SCR,4027,230,28,40,11,5,8,3,3,1,0,0,0,1,0,0,100,7.413397,3.706900
87,IHLT,102807,14031,514,1285,133,51,162,21,14,58,10,2,22,2,44,3,2318,189.144437,3.704629
49,DANC,408824,32576,1342,2817,866,462,328,171,79,85,37,23,20,16,80,34,6326,744.299930,3.678536
65,EURO,14101,2645,11,108,46,12,4,4,2,0,0,0,0,0,7,2,194,25.464174,3.670722
143,SLCL,6053,600,21,46,18,7,10,0,2,0,1,1,1,0,1,0,108,11.239355,3.666944

### Puzzle 3.4: Find the hardest 15 subjects at Illinois

Find the hardest 15 subjects at Illinois based on their "Overall Average GPA"

In [29]:
df_hardest_subjects = df_grouped_subject.nsmallest(30, "Overall Average GPA")
df_hardest_subjects

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Total Students,Average GPA,Overall Average GPA
159,VM,161151,48575,0,1503,8,0,5029,1,0,2916,0,0,274,0,8,8,9739,226.664769,2.796697
150,TAM,521580,83139,1611,3910,3026,3022,3722,2472,1982,2056,1315,797,996,460,1093,148,26462,766.988665,2.808149
105,MATH,3951142,606935,9720,25074,16157,16442,22554,13336,11478,13799,7051,4048,5107,2105,6563,1323,153434,5794.147913,2.831910
121,PHYS,1409784,202288,11513,13751,9524,9157,9720,8607,7085,6959,5199,3367,2525,2887,1627,655,91921,2137.086474,2.901278
99,LAT,12076,613,14,20,17,16,21,7,14,6,3,1,3,2,8,0,132,17.649451,2.944394
136,SAME,6039,437,2,29,30,20,31,12,14,17,5,2,2,3,5,1,172,8.849293,2.949884
36,CHBE,425030,88102,511,2952,1487,1565,2895,1410,1136,1854,631,146,301,54,240,64,15182,648.109073,2.958138
38,CHIN,4023,445,0,8,9,4,9,3,1,3,1,1,1,1,1,0,42,6.017143,3.008571
37,CHEM,3126162,282872,9759,38674,15498,15847,21077,12242,11048,13343,7108,3388,3713,1877,3384,987,156958,5078.958910,3.014005
107,MCB,3256457,414467,5797,11913,9339,9153,11042,6904,5166,4879,2840,1596,1274,747,1116,327,71766,4996.612722,3.031910
125,PS,1081252,145728,1748,6582,5011,4236,5534,2872,1835,2000,895,381,531,202,1025,180,32852,1691.091207,3.075300
51,ECE,2934499,505822,6636,18872,10654,9629,12525,6792,4765,6137,3112,1076,2057,673,1976,400,84904,4630.059529,3.078994
73,GEOL,489178,42561,1448,2179,2135,1992,1758,1386,834,677,426,267,196,133,364,56,13795,759.148730,3.088096
52,ECON,5535028,663026,11201,23537,13340,12811,17276,7704,5686,7517,3089,1970,2591,1106,2906,640,110734,8413.231133,3.091745
127,PSYC,2765150,316661,6306,22977,8349,8556,17413,5428,3981,8046,1781,1063,2080,455,1933,448,88368,4327.363977,3.113533
154,TSM,304136,47830,314,1628,674,610,1353,402,206,522,134,31,140,56,137,42,6207,473.201745,3.120949
120,PHIL,930169,73514,533,3100,2855,2438,2316,1443,759,616,326,144,176,138,481,91,15325,1450.222816,3.127835
101,LER,1322760,201816,928,6590,3218,1780,2278,930,443,857,391,181,333,189,1385,132,19503,2020.463350,3.139316
24,ASTR,324309,32016,1684,5466,2594,2034,3117,1195,930,1245,495,277,363,135,621,127,20156,505.933952,3.162347
44,CMN,2345248,308310,2329,13687,8336,6614,8448,3909,2618,2794,1213,725,803,305,1155,263,52936,3822.431433,3.176440
135,RUSS,16127,1542,9,68,26,23,31,9,7,5,0,3,0,0,16,3,197,25.197121,3.184467
21,ARTH,239605,28487,163,729,775,590,687,401,169,148,82,38,40,21,49,14,3892,384.017754,3.196285
90,ITAL,114659,8145,6,553,74,76,386,15,3,172,2,3,47,1,24,10,1362,182.256957,3.204626
116,NRES,434989,70043,1759,4515,3202,2566,3123,1529,916,1026,392,223,246,129,438,70,20064,697.638183,3.205417
86,IE,412969,83689,816,2855,1984,1699,1906,923,552,518,243,158,207,103,207,36,12171,671.354700,3.205939
91,JAPN,28182,2826,35,70,63,33,23,28,12,9,9,8,4,6,7,2,307,44.787094,3.206873
112,MSE,660589,127734,1280,4462,2972,2637,2680,1494,924,941,439,173,239,82,282,77,18605,1079.116752,3.223731
149,SWAH,10058,1412,24,21,15,17,8,10,5,2,2,2,3,2,3,2,114,16.262503,3.231140
146,SPAN,615664,63435,862,1720,1299,938,912,475,365,329,153,118,98,80,161,22,7510,982.338295,3.235103
78,GWS,312114,32715,164,1230,844,538,605,293,149,193,92,27,55,35,122,26,4347,499.814623,3.235220

### Puzzle 3.5: Find your major!

Finally, find your major/subject in the DataSet and check out how hard it is!

In [33]:
df_ECE = df_grouped_subject[df_grouped_subject["Subject"] == "ECE"]
df_ECE["Overall Average GPA"]

51    3.078994
Name: Overall Average GPA, dtype: float64

- The overall average GPA for ECE is 3.078994

# Finale!

You're almost done -- congratulations!

You need to do two more things:

1. Save your work.  To do this, create a **notebook checkpoint** by using the menu within the notebook to go **File -> Save and Checkpoint**

2. After you have saved and checkpointed, exit this notebook, and return to the Data Science DISCOVERY page on how to use git to turn this notebook into the course!